export(APItaxon, BestProvider, CombineDataObjectInformation, CombineHierarchyInfo, DownloadSearchedTaxa, GatherSynonyms, GetRichnessScores, DataObjectOverview, FirstTwo, GatherSynonyms,  OneFileHierarchy, DownloadEOLpages, GatherDataObjectInformation, GetCommonNames, MakeHierarchyTree, RepeatDataToDrop, subsetDataForHierTrees, MatchTaxatoEOLID, PingAPI, ProviderCount, DownloadHierarchy, GatherProviderDataFrame, GetReferences, MakeTreeData, AutofillTaxonNames, ReturnTaxSet, MakeEdgeLabels, WhatToDoWithDuplicateEdgeNames, DropADim, NodeLabelList, getTipList, whichEdge, GetHierID, MatchHierPageToEOLdata, CNCount, DOCount, providerCount, PageProcessing, RemoveNAFiles, DataProcessing, CollectDataforWeb, GetIUCNStat, MatchDataToTreeTips, MergeTaxonomies, TaxonChildren, TaxonParents, node.leaves, node.offspring)
import(XML, RCurl, ape)
